/* You can add global styles to this file, and also import other style files */
/* styles.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* Para que no se vea blanco al cargar */
  overflow-x: hidden;
}